.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 20px;
    background-color: #39e07b;
  }
  
  .logo {
    height: 40px;
    cursor: pointer;
  }
  
  .user-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #344e61;
  }
  