.filter-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .filter-modal {
    position: relative;
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .filter-section {
    margin: 20px 0;
  }
  
  .filter-button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .filter-button.active {
    background-color: #39e07b;
    color: white;
  }
  
  .apply-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #344e61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .filter-button:hover {
    background-color: #344e61;
    color: white; 
  }
  .filter-button.active:hover {
    background-color: #39e07b; 
    color: white;
}
  .apply-button:hover {
    background-color: #2b3f50; 
  }