.hotel-search-page {
  display: flex;
  height: 100vh;
  width: 98vw;
  overflow-x: hidden;
}

.map-container {
  flex: 1;
  background-color: #f0f0f0;
  height: 100%;
  
}

.search-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}

.search-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.search-row {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}

 .search-form .date-picker-row {
  display: flex;
  align-items: flex-start;
  margin-top: -15px;
  margin-right: 15px;
}

.search-button {
  background-color: #344e61;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: auto;
}

.guest-counter-container,
.search-button {
  align-items:baseline;
}
  
.search-button:hover {
    background-color: #2a3c4f;
  }

.search-input,
.date-input,
.guest-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
  font-size: 12pt 
}

.main-content {
  display: flex;
  flex: 1;
}

.search-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.search-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  flex: 1;
}

.guest-counter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.guest-button {
  padding: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #344e61;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.guest-button:hover {
  background-color: #2a3c4f;
}


/* Filters */
.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0;
  padding: 10px 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-modal-button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  text-align: center;
  color: #344e61;
  background-color: #d4f8d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.filter-button {
  background-color: #d4f8d4;
  color: #344e61;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-modal-button:hover {
  background-color: #b7e6b7;
}

.filter-button.all-filters {
  font-weight: bold;
}


.no-filters-message {
  font-size: 0.9rem;
  color: #888;
  font-style: italic;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: #fff;
}

.hotel-image {
  width: 150px;
  height: 100px;
  background-color: #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotel-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.hotel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.hotel-name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.hotel-tags {
  display: flex;
  gap: 5px;
}

.hotel-tag {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.hotel-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-value {
  background-color: #39e07b;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.hotel-price {
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

.total-price {
  font-size: 1.5rem;
  font-weight: bold;
}

.price-per-night {
  font-size: 0.9rem;
  color: #555;
}

.hotel-results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hotel-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hotel-feature {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Рейтинг */

.hotel-stars {
  color: gold;
  font-size: 1rem;
}

.rating-label {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  align-items: bottom;
  font-size: 0.9rem;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.hotel-card-link:hover {
  color: inherit;
  text-decoration: none;
}

.hotel-card {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: transform 0.2s; 
}

.hotel-card:hover {
  transform: scale(1.02);
}


