.success-booking-page {
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.success-booking-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #344e61;
}

.success-booking-page h2 {
  text-align: left;
  font-size: 2rem;
  margin-top: 20px;
  color: #344e61;
}

.payment-info-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px auto 30px;
  max-width: 800px;
}

.total-price {
  font-size: 1.8rem;
  color: #344e61;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-button {
  background-color: #344e61;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.nav-button:hover {
  background-color: #2a3c4f;
}

  