.booking-success {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1200px; /* Ограничиваем ширину страницы */
    margin: 0 auto; /* Центрируем страницу */
    padding: 20px 20px;
  }
  
 h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
  }
  
  .booking-card,
  .payment-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .room-image-placeholder {
    width: 120px;
    height: 80px;
    background-color: #ccc;
    border-radius: 8px;
  }
  
  .room-details {
    flex-grow: 1;
    margin: 0 15px;
  }
  
  .hotel-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .room-category {
    color: #666;
  }
  
  .dates-and-guests {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .payment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .total-price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .btn-main,
  .btn-profile {
    padding: 20px 20px;
    background-color: #003d4c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .btn-main:hover,
  .btn-profile:hover {
    background-color: #002b36;
  }
  